In [1]:
import pandas as pd
import numpy as np

In [3]:
# data
my_dict = {
  'kor': {
    'a': 10, 
    'b': 30,
    'c': 50,
    'd': 70,
    'e': 30,
  },
  'eng': {
    'a': 20, 
    'b': 40, 
    'c': 60, 
    'd': 80,
    'e': 100,
  },
  'math': {
    'a': 33, 
    'b': 44, 
    'c': 55, 
    'd': 66,
    'e': 77,
  },
}


# data
my_list = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
my_list

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

## where vs mask
- where:
- mask

In [4]:
my_df = pd.DataFrame(my_dict)
my_df

   kor  eng  math
a   10   20    33
b   30   40    44
c   50   60    55
d   70   80    66
e   30  100    77

In [5]:
my_df.where(my_df>50)

    kor    eng  math
a   NaN    NaN   NaN
b   NaN    NaN   NaN
c   NaN   60.0  55.0
d  70.0   80.0  66.0
e   NaN  100.0  77.0

In [6]:
my_df.mask(my_df>50)

    kor   eng  math
a  10.0  20.0  33.0
b  30.0  40.0  44.0
c  50.0   NaN   NaN
d   NaN   NaN   NaN
e  30.0   NaN   NaN

In [7]:
my_df.where(my_df<50, -100)

   kor  eng  math
a   10   20    33
b   30   40    44
c -100 -100  -100
d -100 -100  -100
e   30 -100  -100

In [9]:
my_df.mask(my_df<50, -100)

   kor  eng  math
a -100 -100  -100
b -100 -100  -100
c   50   60    55
d   70   80    66
e -100  100    77

In [10]:
my_df.kor.iloc[:2] = np.nan
my_df

    kor  eng  math
a   NaN   20    33
b   NaN   40    44
c  50.0   60    55
d  70.0   80    66
e  30.0  100    77

In [22]:
my_df.kor.iloc[:2] = np.nan
my_df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

    kor  eng  math
a   NaN   20    33
b   NaN   40    44
c  50.0   60    55
d  70.0   80    66
e  30.0  100    77

In [16]:
my_df.where(my_df==-100)

     kor  eng  math
a -100.0  NaN   NaN
b -100.0  NaN   NaN
c    NaN  NaN   NaN
d    NaN  NaN   NaN
e    NaN  NaN   NaN

In [19]:
my_df.mean(axis='columns')

a   -15.666667
b    -5.333333
c    55.000000
d    72.000000
e    69.000000
dtype: float64

In [21]:
my_df.mean()

kor    -10.0
eng     60.0
math    55.0
dtype: float64

In [24]:
my_df.mask(my_df.kor.isna(), my_df.mean(), axis='columns')

    kor  eng  math
a  50.0   60    55
b  50.0   60    55
c  50.0   60    55
d  70.0   80    66
e  30.0  100    77

## agg

In [26]:
my_df = pd.DataFrame(my_dict)
my_df

   kor  eng  math
a   10   20    33
b   30   40    44
c   50   60    55
d   70   80    66
e   30  100    77

In [27]:
my_df.agg('mean')

kor     38.0
eng     60.0
math    55.0
dtype: float64

In [28]:
my_df.aggregate('mean')

kor     38.0
eng     60.0
math    55.0
dtype: float64

In [29]:
my_df.agg(np.mean)

kor     38.0
eng     60.0
math    55.0
dtype: float64

In [30]:
my_df.agg('sum')

kor     190
eng     300
math    275
dtype: int64

In [31]:
my_df.sum()

kor     190
eng     300
math    275
dtype: int64

In [32]:
my_df.agg(['mean', 'sum'])

        kor    eng   math
mean   38.0   60.0   55.0
sum   190.0  300.0  275.0

In [35]:
my_df.describe().loc[['count', 'mean']]

        kor   eng  math
count   5.0   5.0   5.0
mean   38.0  60.0  55.0

In [36]:
my_df.agg({'kor': 'mean', 'eng': 'sum'})

kor     38.0
eng    300.0
dtype: float64

## map, apply, applymap
- apply
  - Series: 각 데이터별
  - DataFrame: 각 시리즈별

- map: Series
  - 파이썬 동작: iloc, map

- applymap: DataFrame
  - 각 원소의 접근 
  - apply -> apply

In [37]:
my_df.apply(lambda v:v['kor']+v['eng'], axis="columns")

a     30
b     70
c    110
d    150
e    130
dtype: int64